<div class="footer">
  <div class="uk-container uk-container-small uk-padding">
	<div class="uk-grid">
		<div class="uk-width-1-3@m">
		  <div class="box-title">
			<h6 class="footer-title "> Über uns </h4>
		  </div>
		  <img class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-top" src="logo.svg" ><br>
		  Wir unterstützen Unternehmen, die preisgünstige und hochwertige Lösungen in den Bereichen Business Modelling, Business Planning und Buchhaltung. Dazugehörige Beratung und grafische Umsetzungen ergänzen unser Angebot.
		</div>
		<div class="uk-width-1-3@m">
		  <div class="box-title">
			<h6 class="footer-title"> Sonstiges </h4>
		  </div>
		  <a class="footer" href=""> Über uns</a><br>
		  <a class="footer" href=""> Impressum</a><br>
		  <a class="footer" href=""> AGB</a><br>
		  <a class="footer" href=""> Kontakt</a><br>
		</div>
		<div class="uk-width-1-3@m">
		  <div class="box-title">
			<h6 class="footer-title"> Follow Us </h4>
		  </div>
		  <a href="" class="uk-icon-button" uk-icon="icon: facebook; ratio:0.8"></a>
		  <a href="" class="uk-icon-button" uk-icon="icon: twitter; ratio:0.8"></a>
		  <a href="" class="uk-icon-button" uk-icon="icon: linkedin; ratio:0.8"></a>
		  <div class="box-title">
			<h6 class="footer-title"> Anmeldung Newsletter </h4>
		  </div>
		  <form>
			<div class="uk-margin">
			  <input class="uk-input" type="email" placeholder="Input email here">
			  </div>
		  </form>
		  Einen Fehler gefunden? An den Webmaster melden.
		</div>
	  </div>
	</div>
</div>
<div class="bottom-footer">
  <div class="bottom-footer uk-container uk-text-center">
  <p> Rasminka 2017 © </p>
  </div>
</div>
