<div class="header-top">
  <div class="uk-container uk-section-small">
	<div class="uk-float-left">
	  <span>Individuell und professionell</span>
	</div>
	<div class="uk-float-right">
	  <a href="" uk-icon="icon: facebook; ratio: 0.8"></a>
	  <a href="" uk-icon="icon: twitter; ratio: 0.8"></a>
	</div>
  </div>
</div>
<div class="uk-container uk-section-small">
<div class="uk-float-left">
			<img src="logo.svg" >
</div>
<div class="uk-float-right">
		<ul class="uk-list-inline">
		  <li>
			  <div class="uk-inline">
				<a href="" uk-icon="icon: mail; ratio: 1.6"></a>
			  </div>
			  <div class="uk-inline">
				<span> E-Mail <br>
				info@rasminka.ch </span>
			  </div>
		  </li>
		  <li>
			  <a href="" uk-icon="icon: world; ratio: 1.6"></a>
			  <div class="uk-inline">
				<span>Öffnungszeiten<br>
				MO - FR | 9 - 18 Uhr</span>
			  </div>
		  </li>
		  <li>
			  <a href="" uk-icon="icon: location; ratio: 1.6"></a>
			  <div class="uk-inline">
				<span>Adresse<br>
				Flurstrasse 30 CH-8048 Zürich</span>
			  </div>
		  </li>
		</ul>
</div>
</div>
<div class="uk-container ">
	<nav class="uk-navbar-container" uk-navbar>
	  <div class="uk-navbar-left">
		<div class="menu">
		  <ul class="uk-navbar-nav">
			  <li class="uk-active"><a href="#">Home</a></li>
				<li>
					<a href="#">Über uns</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li ><a href="#">Setup</a></li>
							<li><a href="#">Management</a></li>
							<li><a href="#">Medien über uns</a></li>
							<li><a href="#">Feedbacks</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#">Businessplan</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li ><a href="#">Aufbau</a></li>
							<li><a href="#">Planrechnungen</a></li>
							<li><a href="#">Investoren überzeugen</a></li>
							<li><a href="#">Ziele eines BP</a></li>
							<li ><a href="#">Report design</a></li>
							<li><a href="#">Ablauf erstellung</a></li>
							<li><a href="#">Wieso wir?</a></li>
							<li><a href="#">Preise</a></li>
							<li><a href="#">Preisvergleich</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#">Beratung</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li ><a href="#">Finanzplan und Excel</a></li>
							<li><a href="#">Automatisierung in MS Office</a></li>
							<li><a href="#">Finanzierung von Unternehmen</a></li>
							<li><a href="#">Risk Management</a></li>
							<li ><a href="#">Bewertungen</a></li>
							<li><a href="#">Preise</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">Projekte</a></li>
				<li>
					<a href="#">Know-how</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li ><a href="#">Downloads</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Analysen</a></li>
							<li><a href="#">Integrierte Planung</a></li>
							<li ><a href="#">Businessplan Tipps</a></li>
							<li><a href="#">Kosten eines Mitarbeiters</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">Kontakt</a></li>
		  </ul>
		</div>
	  </div>
  </nav>
</div>
