<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rasminka – Optimize your business.</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
  <link rel="stylesheet" href="style.css" type="text/css" media="all">
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>

</head>
  <body>
    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="animation: fade; max-height: 300; autoplay:true">

        <div class="slider">
            <ul class="uk-slideshow-items">
                <li>
                  <img src="Cubes_slider-1.jpg" alt=""  uk-cover>
                  <div class="uk-position-center-left uk-cover">
                    <h2 style="color:#fe7300"> Grosse Umfrage in der Treuhandbranche</h2>
                    <h4 class="uk-margin-remove-top">Verpassen Treuhänder die neusten Trends?</h4>
                    <a class="uk-button uk-button-small uk-padding-remove-bottom" href="">Studie anschauen</a>
                  </div>
                </li>
                <li>
                    <img src="buchhalter.jpg" alt="" uk-cover>
                    <div class="uk-position-center-left uk-cover">
                      <h2 style="color:#fe7300">Individuelle und preiswerte Businesspläne</h2>
                      <h4 class="uk-margin-remove-top">Mit vollständig integrierten und individuellen Planrechnungen.<br>Individualisierten Charts und Auswertungen</h4>
                      <a class="uk-margin-remove-top uk-button uk-button-small uk-padding-remove-bottom" href="">Offerte anfordern</a>
                    </div>
                </li>
                <li>
                    <img src="Slider_Rasminka.jpg" alt="" uk-cover>
                    <div class="uk-position-center-left uk-cover">
                      <h2>SIE KÜMMERN SICH UM IHR BUSINESS -<br> WIR UM IHRE BUCHHALTUNG</h2>
                   <a class="uk-margin-remove-top uk-button uk-button-small uk-padding-remove-bottom" href="">Finanzbuchhaltung, Spesenabrechnungen, Lohnbuchhaltung etc.</a>
                    </div>
                </li>
            </ul>
</div>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
        <div class="uk-container uk-section-small">
          <div class="box-title title">
            <h2>Best Practice Case</h2>
          </div>
          <p>Unsere Treuhandabteilung (abrechnungen.ch) wurde anlässlich der Jahrestagung des Branchenverbandes «EXPERTsuisse» als Best Practise Case (Erfolgsmodell) ausgezeichnet. Dieser hochkarätig besetzte Anlass stand ganz unter dem Titel «Zukunftsfähige Geschäftsmodelle» und Digitalisierung der Treuhandbranche.</p>
          <div class="uk-text-center">
          <video width="640" height="480" controls>
              <source src="Despacito.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
          <div class="box-title title">
            <h2>Unsere Services</h2>
          </div>
          <div class="home-services uk-grid">
              <div class="uk-width-1-3@m">
                <img class="uk-margin-small-bottom" src="02_brochure-mockup-360x203.jpg" alt="">
                <p><b>Businesspläne</b></p>
                <p>Sie wollen Ihre eigene Firma gründen und sind auf der Suche nach Geldgebern? Ihre Immobilienverwaltung verlangt einen Businessplan? Wir erstellen Ihnen einen qualitativ hochwertigen und bezahlbaren Businessplan nach Mass. Damit beeindrucken Sie Investoren und Banken. Unser erstklassiges Preis-Leistungs-Verhältnis wird Sie überzeugen.</p>
                <a href="">WEITER</a>
              </div>
              <div class="uk-width-1-3@m">
                <img class="uk-margin-small-bottom" src="buch_small-360x203.jpg" alt="">
                <p><b>Buchhaltung</b></p>
                <p>Mit abrechnungen.ch bieten wir Buchhaltungs- und Treuhandservices zu unschlagbaren Preisen: Für Einzelunternehmen und KMU, die sich lieber auf Ihre Kernkompetenz konzentrieren und darum die Buchführung extern vergeben. In Kombination mit unseren Beratungsangeboten ist dieser Buchhaltungsservice in der Schweiz einzigartig.</p>
                <a href="">WEITER</a>
              </div>
              <div class="uk-width-1-3@m">
                <img style="padding-bottom:20px;" src="simulation_home.gif" width="360" hight="203" alt="">
                <p><b>Excel Modelling</b></p>
                <p>Seien es integrierte Planrechnungen eines Businessplanes, Unternehmensbewertungen, Szenarioanalysen, Optimierungen oder Kapitalplanungen – dies alles und mehr  lässt sich modellieren und als Entscheidungsgrundlage verwenden. Sie meinen, Excel im Griff zu haben? </p>
                <a href="">WEITER</a>
              </div>
          </div>
          <div class="home-services uk-grid">
              <div class="uk-width-1-3@m">
                <img class="uk-margin-small-bottom" src="buch3-360x203.jpg" alt="">
                <p><b>Finanzberatung</b></p>
                <p>Investitions- und Finanzierungsentscheide bei Unternehmen erfordern meist eine umfangreiche Planung und detaillierte Abklärungen. Wir unterstützen Sie mit Analysen zur Investition, beantworten Fragen zur Finanzierung, Mitarbeiterbeteiligungen, Bewertungsfragen (Unternehmen, Assets, MA-Beteiligungen) und betreiben unterstützend Recherche.</p>
                <a href="">WEITER</a>
              </div>
              <div class="uk-width-1-3@m">
                <img class="uk-margin-small-bottom" src="homeheader5_0-360x203.png" alt="">
                <p><b>Grafische Überarbeitungen</b></p>
                <p>Haben Sie Präsentationen oder Reports, die neu konzipiert oder (grafisch) überarbeitet werden müssen? Möchten Sie komplexe oder umfangreiche Informationen visuell optimal und verständlich darstellen? Dazu braucht es neben Grafik-Know-How ein solides Verständnis des Darstellungsgegenstandes – was vielen Grafikern fehlt. Wir hingegen kombinieren Ökonomie,  Business und Grafik.</p>
                <a href="">WEITER</a>
              </div>
              <div class="uk-width-1-3@m">
                <img style="padding: 48px 0px 47px 0px" src="excel_word_anim4.gif" width="360" hight="203" alt="">
                <p><b>Automatisierung in MS Office</b></p>
                <p>Mit unseren Automatisierungen in der Microsoft-Office-Palette helfen wir Ihnen, langsame, fehleranfällige und vor allem teure Handarbeit in einen blitzschnellen, einwandfrei funktionierenden Prozess auf Knopfdruck zu verwandeln. Sie werden erstaunt sein, was alles möglich ist. Wir führen auch Reviews von bestehenden Modellen durch. </p>
                <a href="">WEITER</a>
              </div>
          </div>
        </div>
            <div class="banner">
            <div class="uk-container uk-section-small">
              <div class="uk-float-left uk-padding-small uk-padding-remove-bottom">
                <h2>Businessplan Offerte kostenlos anfordern!</h2>
              </div>
              <div class="uk-float-right">
                <a class="uk-button uk-button-small uk-padding-remove-bottom" href="">Hier</a>
              </div>
            </div>
            </div>
            <div class="uk-container uk-section-small">
              <div class="box-title title">
                <h2>Unsere Kunden</h2>
              </div>
              <div class="uk-grid clients">
                <div class="uk-width-1-6@s">
                  <img href="" src="clients/Ref_Burkhalter.jpg">
                  <img href="" src="clients/Testingtime.png">
                </div>
                <div class="uk-width-1-6@s">
                  <img href="" src="clients/logo-carbon-connect-1.jpg">
                  <img href="" src="clients/RSC.png">
                </div>
                <div class="uk-width-1-6@s">
                  <img href="" src="clients/set2.jpg">
                  <img href="" src="clients/header_logo_Heineken.png">
                </div>
                <div class="uk-width-1-6@s">
                  <img href="" src="clients/logo_EWZ-e1458233857523.png">
                  <img href="" src="clients/csm_netech-logo-M.png">
                </div>
                <div class="uk-width-1-6@s">
                  <img href="" src="clients/Migflug.png">
                  <img href="" src="clients/LS.png">
                </div>
                <div class="uk-width-1-6@s">
                  <img href="" src="clients/Logo_Heart-Force-e1457540840179.png">
                  <img href="" src="clients/visual-meta-logo-300x581.png">
                </div>
              </div>
              <div class="box-title title">
                <h2>Feedbacks</h2>
              </div>
              <div class="uk-grid feedbacks" >
                <div class="uk-width-1-4@s">
                  <i>“Ich war sehr zufrieden mit Rasminka und deren Mitarbeiter. Alle waren sehr dienstleistungsorientiert und freundlich. Werde Rasminka auf jeden Fall und gerne weiterempfehlen. Ebenfalls würde ich mich für eine zukünftige Zusammenarbeit mit der Rasminka freuen.”
                  </i>
                  <p>  Egger Lukas<br>
                    Direktor und Gründer<br>
                    Swiss Prime International AG
                  </p>
                </div>
                <div class="uk-width-1-4@s">
                  <i>“I wish to complement the Rasminka team for their consistency, quality of work, and significant contribution to our project. Our organization has been extremely pleased with the resources provided by Rasminka, and I would highly recommend them to other organizations.”
                  </i>
                  <p>E. Delli<br>
                    Frel Solutions Sagl
                  </p>
                </div>
                <div class="uk-width-1-4@s">
                  <i>
                    “Wir sind mit der Arbeit der Rasminka sehr zufrieden. Der BP wurde durch sie überarbeitet und hat bei der Überprüfung durch unsere Investoren und das Luftamt überzeugt und standgehalten. Wir können Rasminka gerne weiter empfehlen.“
                  </i>
                  <p>
                    Cockpit Academy Switzerland GmbH
                  </p>
                </div>
                <div class="uk-width-1-4@s">
                  <i>
                    „Vom Erstgespräch bis zum Schluss war alles sehr strukturiert. Der Kontakt war sehr freundlich und unkompliziert. Das Endprodukt hat meine Erwartungen übertroffen. Ich würde jederzeit wieder einen Businessplan über die Firma Rasminka erstellen lassen.”
                  </i>
                  <p>
                    M. Grüter<br>
                    Brauerei Teiggi
                  </p>
                </div>
              </div>
              <div class="uk-float-right">
                <a href=""> Mehr </a>
              </div>
            </div>
  </body>
  </html>
