body {
    font-family: "Open Sans", sans-serif;
}

/*Header*/
.uk-list-inline > li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.header-top {
  height: 34px;
  background-color: #343434;
}
.header-top .uk-container {
  height:22px;
  padding:6px 0px 6px 0px;
  font-size: 13px;
}
